._1WCVb{border:0 !important}

._3uWWs,._3uRvP{height:100px;width:100px;outline:black;background-size:100%, 100%;border-radius:50%;border:1px solid black;background-image:none}._3uRvP:after{content:'>';font-size:55px;color:red}._3uWWs:after{content:'<';font-size:55px;color:red}

